#root {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 4210px;
  
  background: var(--white) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

button {
  cursor: pointer;
}

.rectangle5 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 80px;
  
  background: var(--white) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 16px #00000014;
  opacity: 1;

  display: flex;
  align-items: center;
}

.imgheader {
  margin-left: 45%;
}

.buttonheader {
  top: 16px;
  left: 1469px;
  width: 48px;
  height: 48px;

  opacity: 1;
  margin-left: 21%;

  border: transparent;
  background: transparent;
}

.icsearch {
  top: 28px;
  left: 1481px;
  width: 24px;
  height: 24px;

  background: transparent url('./images/icsearch.jpg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.rectangle26 {
  top: 80px;
  left: 0px;
  width: 1920px;
  height: 49px;

  background: var(--unnamed-color-389cd6) 0% 0% no-repeat padding-box;
  background: #389CD6 0% 0% no-repeat padding-box;
  opacity: 1;
}

.rectangle26extra {
  position: absolute;
  top: 138px;
  left: 7px;
  width: 1920px;
  height: 49px;

  background: var(--unnamed-color-389cd6) 0% 0% no-repeat padding-box;
  background: #9D8E8E 0% 0% no-repeat padding-box;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.rectangle26:hover + .rectangle26extra {
  opacity: 1;
}

.bluebuttons {
  top: 81px;
  left: 1211px;
  width: 10%;
  height: 47px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-32);
  color: var(--white);
  text-align: center;
  font: normal normal bold 16px/22px Trebuchet MS;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  opacity: 1;

  margin-left: 1%;
  border: transparent;

  background-color: #389CD6;
}

.banner-hero {
  top: 129px;
  left: 0px;
  width: 1920px;
  height: 550px;

  background: transparent url('img/banner-hero.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.block1 {
  top: 759px;
  left: 588px;
  width: 550px;
  height: 350px;

  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.werehere {
  top: 759px;
  left: 782px;
  width: 550px;
  height: 46px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-39)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-78);
  color: var(--unnamed-color-389cd6);
  text-align: center;
  font: normal normal bold 39px/50px Trebuchet MS;
  font-size: 34px;
  letter-spacing: 0.78px;
  color: #389CD6;
  opacity: 1;
}

.bigtext1 {
  top: 845px;
  left: 685px;
  width: 550px;
  height: 251px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-4);
  color: var(--dark-gray);
  text-align: center;
  font: normal normal normal 20px/28px Trebuchet MS;
  letter-spacing: 0.4px;
  color: #7B7070;
  opacity: 1;

  margin-top: 5%;
}

.block2 {
  top: 1475px;
  left: 588px;
  width: 40%;
  height: 10%;

  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
}

.whatever {
  top: 1475px;
  left: 588px;
  width: 100%;
  height: 96px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-39)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-78);
  color: var(--unnamed-color-389cd6);
  text-align: center;
  font: normal normal bold 39px/50px Trebuchet MS;
  font-size: 34px;
  letter-spacing: 0.78px;
  color: #389CD6;
  opacity: 1;

  margin-top: 8%;
}

.bigtext2 {
  top: 1611px;
  left: 588px;
  width: 744px;
  height: 50%;
  
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-4);
  color: var(--dark-gray);
  text-align: center;
  font: normal normal normal 20px/28px Trebuchet MS;
  letter-spacing: 0.4px;
  color: #7B7070;
  opacity: 1;

  margin-top: 5%;
}

.block3 {
  top: 1882px;
  left: 395px;
  width: 60%;
  height: 18%;

  opacity: 1;

  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-bottom:4%;
}

.ourproducts {
  top: 1882px;
  left: 589px;
  width: 744px;
  height: 46px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-39)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-78);
  color: var(--unnamed-color-389cd6);
  text-align: center;
  font: normal normal bold 39px/50px Trebuchet MS;
  font-size: 34px;
  letter-spacing: 0.78px;
  color: #389CD6;
  opacity: 1;

  margin-left: 20%;
  margin-right: 20%;
  margin-top: 6%;
  margin-bottom: 4%;
}

.card {
  top: 0;
  left: 0;
  width: 356px;
  height: 531px;

  position: relative;

  background: var(--white) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000014;
  border-radius: 16px;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 1.9%;
}

.cardtext {
  top: 2383px;
  left: 427px;
  width: 292px;
  height: 51px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-4);
  color: var(--dark-gray);
  text-align: center;
  font: normal normal normal 20px/28px Trebuchet MS;
  letter-spacing: 0.4px;
  color: #7B7070;
  opacity: 1;

  margin-top: 6%;
  margin-bottom: 9.5%;
}

.cardsmallblock {
  top: 2466px;
  left: 0;
  width: 356px;
  height: 73px;

  border-radius: 0px 0px 16px 16px;
  opacity: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 0;
}

.smallblocktext {
  top: 2486px;
  left: 0;
  width: 312px;
  height: 29px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-36) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-5);
  color: var(--white);
  text-align: center;
  font: normal normal bold 25px/36px Trebuchet MS;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-transform: lowercase;
  opacity: 1;

  margin-bottom: 2%;
}

.block4 {
  top: 3216px;
  left: 393px;
  width: 60%;
  height: 15.6%;

  opacity: 1;

  display: flex;
  flex-wrap: wrap;

  margin-top: 6%;
  margin-left: 20%;
  margin-bottom: 7%;
}

.keepup {
  top: 3216px;
  left: 0;
  width: 100%;
  height: 46px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-39)/var(--unnamed-line-spacing-50) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-78);
  color: var(--unnamed-color-389cd6);
  text-align: center;
  font: normal normal bold 39px/50px Trebuchet MS;
  font-size: 34px;
  letter-spacing: 0.78px;
  color: #389CD6;
  opacity: 1;

  margin-bottom: 7%;
}

.card2 {
  top: 3344px;
  left: 394px;
  width: 356px;
  height: 355px;

  background: var(--white) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 16px #00000014;
  border-radius: 16px;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 1.9%;
  margin-bottom: 9%;
}

.card2text {
  top: 3598px;
  left: 815px;
  width: 100%;
  height: 51px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-4);
  color: var(--dark-gray);
  text-align: left;
  font: normal normal normal 20px/28px Trebuchet MS;
  letter-spacing: 0.4px;
  color: #7B7070;
  opacity: 1;

  margin-top: 7%;
  margin-left: 12%;
}

.seemorebutton {
  top: 3784px;
  left: 782px;
  width: 40%;
  height: 11%;

  background: var(--unnamed-color-389cd6) 0% 0% no-repeat padding-box;
  background: #389CD6 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;

  margin-left: 30%;
}

.seemoretext {
  top: 3804px;
  left: 804px;
  width: 312px;
  height: 23px;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-trebuchet-ms);
  letter-spacing: var(--unnamed-character-spacing-0-4);
  color: var(--white);
  text-align: center;
  font: normal normal bold 22px/28px Trebuchet MS;
  letter-spacing: 0.4px;
  color: #FFFFFF;
  text-transform: lowercase;
  opacity: 1;
}

.footer {
  top: 3968px;
  left: 0px;
  width: 1920px;
  height: 242px;

  background: var(--unnamed-color-389cd6) 0% 0% no-repeat padding-box;
  background: #389CD6 0% 0% no-repeat padding-box;
  opacity: 1;
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/